extends ../../components/skeleton.jade

include ../../components/contact_form.jade

block head

  //- Zendesk chat
  script.
    /*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","madkuduhelp.zendesk.com");/*]]>*/

  script.
    window.zE(function() {
      console.log('hide zendesk chat');
      window.zE.hide();
    });

block neck
  title MadKudu | Zendesk

  //- script analytics.page('Careers - Data Engineer')

block body

  .background-white

    include ../../components/header_white.jade

    .block
      section.contact
        .container
          .contact-content
            div.form-contact-wrapper
              form(id="fcontact",class=["form", "form-contact"],action="zendesk-chat.html",method="get")
                legend Enter an email
                fieldset
                  //- +input-field('text','firstname',null,'First Name','firstname','required')
                  //- +input-field('text','lastname',null,'Last Name','lastname','required')
                  +input-field('email','email',null,'Email','email', 'required')
                  //- +input-field('tel','phone',null,'Phone Number','phone','required')
                  //- +input-field('text','company',null,'Company Name or URL','company','required')
                  //- +input-field('text','timecall',null,'When Are You Available for a call?','timecall',null)
                  button.btn.btn-lg.btn-primary.btn-block.mki_contact(type='submit') Sign Up
